# OS metadata
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local
*.env

# Python artifacts
**/__pycache__/
*.pyc
ai-service/venv/
.pytest_cache/

# Node artifacts
**/node_modules/
**/dist/

# Java / Maven artifacts
**/target/
